.myTodo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myTodo__ttl {
  font-size: 36px;
  margin-bottom: 20px;
}

.myTodo__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
}

.myTodo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.myTodo__item button {
  margin-left: 10px;
}

.myTodo__item.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
